- content_for :header do
  %h1 Expense Balance Home
%ul{"data-role" => "listview"}
  %li=link_to 'Add an Expense', new_expense_path
  %li=link_to 'Recent Expenses', expenses_path
  %li=link_to 'Expenses by Month', ''
  %li=link_to 'Expenses by Purchaser', ''
  %li=link_to 'Search Expenses', ''