- content_for :header do
  %h1 Expense Balance Home
%ul{"data-role" => "listview"}
  %li=link_to 'Add an Expense', new_expense_path
  %li=link_to 'View Last 10 Expenses', expenses_path
  %li=link_to 'View Expenses by Month', months_expenses_path
  %li=link_to 'View Expenses by Purchaser', ''
  %li=link_to 'Search Expenses', ''