- content_for :header do
  %h1 Expense List
%ul{"data-role" => "listview"}
  - @expenses.each do |expense|
    - color = current_user.id == expense.user_id ? 'color: green' : 'color: red'
    %li= link_to("#{expense.date.strftime('%m/%d/%y')} $#{expense.amount} #{expense.for}", expense, :style => color)
